@import url("colors.css");

* {
    -fx-background: -fx-dark-background;
    -fx-text-fill: -fx-default-text-color;
}

.context-menu {
    -fx-background-color: rgb(97, 97, 97);
}


.label {
    -fx-font-family: Lato;
}


.split-pane {
    -fx-border-color: -fx-dark-background;
    -fx-background-color: -fx-dark-background;
}




.event-box {
    -fx-font-size: 15;
    -fx-padding: 0 0 0 12;
}


.calendar-day {
    -fx-border-color: black;
    -fx-border-width: 0.6;
}

.calendar-day > .viewport {
    -fx-background-color: -fx-dark-background;
}

.calendar-day > .label {
    -fx-font-size: 15;
    -fx-padding: 0 0 0 0;
}

.calendar-date-label {
    -fx-font-family: Lato;
    -fx-font-size: 16;
    -fx-fill: -fx-default-text-color;

}




.events {
    -fx-font-size: 15;
    -fx-padding: 24 6 12 6;
}

.day-event {
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 3;
}


.selected-day-event {
    -fx-border-color: -fx-hover-color;
}

.calendar-button {
    -fx-background-color: -fx-gray-1;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
}

.calendar-button:hover {
    -fx-border-color: -fx-hover-color;
    -fx-border-radius: 5;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.tooltip {
    -fx-font-family: Lato;
    -fx-background-color: -fx-gray-1;
}


.schedule {
    -fx-border-color: rgb(25, 25, 25);
    -fx-border-width: 0.75;
    -fx-border-radius: 3;
    -fx-padding: 0 0 0 3;
}


.scroll-bar {
    -fx-focus-color: transparent;
    -fx-pref-width: 8;
    -fx-background-color: -fx-gray-1;
}

.thumb {
    -fx-background-color: -fx-gray-0;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow,
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0 0 0 8;
}

.scroll-bar:vertical > .decrement-button,
.scroll-bar:vertical > .increment-button {
    -fx-padding: 0 0 0 0;
}



.split-pane-divider {
   -fx-background-color: -fx-gray-0;
   -fx-padding: 0 2 0 2;
}


.text-field {
    -fx-text-box-border: transparent;
    -fx-control-inner-background: -fx-gray-2;
    -fx-prompt-text-fill: -fx-default-text-color;
    -fx-font-size: 15;
}


.text-field:disabled {
    -fx-opacity: 1.0;
    -fx-control-inner-background: -fx-dark-background;
}

.date-picker > .text-field {
    -fx-border-color: -fx-dark-background;
}


.date-picker > .text-field {
    -fx-background-radius: 0;
}


.date-picker-popup > .month-year-pane {
    -fx-base: #1d1d1d ;
    -fx-mark-highlight-color: -fx-light-text-color ;
}

.date-picker-popup .cell:focused {
	-fx-background-color: -fx-color-7;
	-fx-text-fill: black;
}

.date-picker-popup .cell {
    -fx-border-color: -fx-dark-background;
}

.date-picker-popup {
    -fx-background-color: -fx-dark-background;
}

.date-picker-popup > * > .today {
    -fx-background-color: -fx-gray-2;
}

.date-picker-popup .month-year-pane .label {
	-fx-text-fill: -fx-default-text-color;
}

.date-picker-popup > * > .day-name-cell {
    -fx-background-color: -fx-dark-background;

}


.non-editable-date-picker > .arrow-button {
    -fx-padding: 0px;
}

.non-editable-date-picker > .arrow-button > .arrow {
    -fx-padding: 0px;
}

.non-editable-date-picker > .date-picker-display-node {
    -fx-background-insets: 1 1 1 1;
}

.non-editable-date-picker {
    -fx-background-color: -fx-dark-background;
}


.combo-box {
    -fx-background-color: rgb(97, 97, 97);
}

.combo-box:disabled {
    -fx-opacity: 1.0;
}


.schedule-box-item {
    -fx-border-color: rgb(25, 25, 25);
    -fx-border-width: 0.75;
    -fx-border-radius: 3;
}

.schedule-box-item:hover {
    -fx-border-color: -fx-hover-color;
}






