* {
    -fx-background: rgb(60, 63 ,65);
    -fx-text-fill: rgb(209, 209 ,209);

}

.menu-bar {
    -fx-background-color: rgb(60,63,65);
}

.context-menu {
    -fx-background-color: rgb(60,63,65);
}

.menu-item {
    -fx-font-size: 12;
}

.label {
    -fx-font-family: Lato;
}

.calendar-day {
    -fx-background-color: gray;
    -fx-border-color: black;
}

.events {
    -fx-font-size: 15;
    -fx-padding: 12 0 0 12;
}


.calendar-day > .label {
    -fx-font-size: 15;
    -fx-padding: 0 0 0 12;
}
