@import url("colors.css");

* {
    -fx-background: -fx-dark-background;
    -fx-text-fill: -fx-default-text-color;

}

.bar {
    -fx-background: -fx-dark-background;

}

.label {
    -fx-font-size: 18;

}

.selected-label {
    -fx-text-fill: -fx-color-7;
}