* {
    -fx-background: rgb(60, 63 ,65);
    -fx-text-fill: rgb(209, 209 ,209);

}



.bar {
    -fx-background: rgb(60, 63 ,65);

}

.label {
    -fx-font-size: 18;

}

.selected-label {
    -fx-text-fill: rgb(92, 146, 197);
}