* {
    -fx-background: -fx-dark-background;
    -fx-text-fill: -fx-default-text-color;
}


.label {
    -fx-font-family: Lato;
}

.button {
    -fx-background-color: -fx-button-color;
}


.regular-schedule  {
    -fx-background-color: rgb(181, 181, 181);



}


.context-menu {
    -fx-background-color: -fx-dark-background;
}

.menu-item {
    -fx-font-size: 12;
}

.menu-bar {
    -fx-background-color: -fx-dark-background;

}
