* {
    -fx-background: rgb(60, 63 ,65);
    -fx-text-fill: rgb(209, 209 ,209);

}

.label {
    -fx-font-family: Lato;
}

.text-field {
    -fx-background-color: rgb(106, 112, 116);


}

.text-area {
    -fx-control-inner-background: rgb(106, 112, 116);
    -fx-prompt-text-fill: #989898;

}

.button {
    -fx-background-color: rgb(106, 112, 116);
}