* {
    -fx-background: rgb(60, 63 ,65);
    -fx-text-fill: rgb(209, 209 ,209);
}


.label {
    -fx-font-family: Lato;
}

.button {
    -fx-background-color: rgb(106, 112, 116);
}


.regular-schedule  {
    -fx-background-color: rgb(181, 181, 181);



}

