* {
    -fx-background: rgb(60, 63 ,65);
    -fx-text-fill: rgb(209, 209 ,209);

}

root {
    -fx-font-family: "Lato";
}


.text {
    -fx-fill: rgb(209, 209 ,209);

}


.text-field {

    -fx-text-box-border: transparent;
    -fx-control-inner-background: rgb(60,63,65);
    -fx-prompt-text-fill: #989898;

}


.main-split-pane:horizontal > .split-pane-divider {
   -fx-background-color: rgb(132, 132, 132);
}


.button {
    -fx-background-color: rgb(78, 80, 82);
}

.button:hover {
    -fx-border-color: rgb(41, 163, 211);

}

.menu-bar {
    -fx-background-color: rgb(60,63,65);

}

.split-pane {
    -fx-border-color: rgb(60,63,65);
}


.listViewItem {
    -fx-font-size: 22;
    -fx-max-width: 100000;
}

.file-button {
    -fx-font-size: 20;

}


.context-menu {
    -fx-background-color: rgb(60,63,65);
}

.menu-item {
    -fx-font-size: 12;
}


