* {
    -fx-background: rgb(60, 63 ,65);
    -fx-text-fill: rgb(209, 209 ,209);

}

root {
    -fx-font-family: "Lato";
}


.text {
    -fx-fill: rgb(209, 209 ,209);

}


.text-field {

    -fx-text-box-border: transparent;
    -fx-control-inner-background: rgb(60,63,65);
    -fx-prompt-text-fill: #989898;

}

.enlarged-body-label {
    -fx-font-family: "Lato";
    -fx-background-color: rgb(60, 63 ,65);
    -fx-font-size: 20;


}


.cloud-label {
    -fx-font-size: 20;

}

.main-split-pane:horizontal > .split-pane-divider {
   -fx-background-color: rgb(132, 132, 132);
}




.menu-bar {
    -fx-background-color: rgb(60,63,65);

}

.split-pane {
    -fx-border-color: rgb(60,63,65);
}


.text-area .scroll-bar:vertical, .scroll-bar:vertical {
    -fx-background-color: rgb(60, 63 ,65);

}

.scroll-bar:vertical .thumb{
    -fx-background-color: rgb(145, 145, 145);
}

.text-area .scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-focus-color: transparent;
    -fx-pref-width: 8;

}


.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 0 0;
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0 0 0 0;
}

.thumb {
    -fx-background-color: rgb(60, 63 ,65);
}


.context-menu {
    -fx-background-color: rgb(60,63,65);
}

.menu-item {
    -fx-font-size: 12;
}





.main-buttons {
    -fx-font-size: 20;
    -fx-background-color: rgb(78, 80, 82);
}

.main-buttons:hover {
    -fx-border-color: rgb(41, 163, 211);
}


.small-main-buttons {
    -fx-font-size: 15;
    -fx-background-color: rgb(78, 80, 82);
}







.tagList {
    -fx-font-size: 22;
    -fx-max-width: 100000;
}

.tagList > .button {
    -fx-border-color: rgb(95, 95, 95);
    -fx-background-color: rgb(78, 80, 82);
}

.tagList > .button:hover {
    -fx-border-color: rgb(41, 163, 211);
}


.tagListSelected > .button {
    -fx-background-color: rgb(101, 101, 101);
}







.itemList {
    -fx-font-size: 22;
    -fx-max-width: 100000;
}

.itemList > .button {
    -fx-border-color: rgb(95, 95, 95);
    -fx-background-color: rgb(78, 80, 82);

}

.itemList > .button:hover {
    -fx-border-color: rgb(41, 163, 211);
}

.itemListSelected > .button {
    -fx-background-color: rgb(101, 101, 101);

}


