@import url("colors.css");


* {
    -fx-background: -fx-dark-background;
    -fx-text-fill: -fx-default-text-color;
}

root {
    -fx-font-family: "Lato";
}


.text {
    -fx-fill: -fx-default-text-color;
}


.text-field {
    -fx-text-box-border: transparent;
    -fx-control-inner-background: -fx-dark-background;
    -fx-prompt-text-fill: -fx-gray-4;

}

.enlarged-body-label {
    -fx-font-family: "Lato";
    -fx-background-color: -fx-dark-background;
    -fx-font-size: 20;


}


.cloud-label {
    -fx-font-size: 20;

}

.main-split-pane:horizontal > .split-pane-divider {
   -fx-background-color: -fx-gray-0;
   -fx-padding: 0 2 0 2;
}


.split-pane {
    -fx-border-color: -fx-dark-background;
    -fx-background-color: -fx-dark-background;
}


.text-area .scroll-bar:vertical {
    -fx-background-color: -fx-dark-background;

}

.text-area .scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-focus-color: transparent;
    -fx-pref-width: 8;
    -fx-background-color: -fx-gray-1;
}

.thumb {
    -fx-background-color: -fx-gray-0;
}


.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 0 0;
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0 0 0 0;
}


.menu-bar {
    -fx-background-color: -fx-dark-background;
    -fx-border-color: -fx-dark-background;
}


.context-menu {
    -fx-background-color: -fx-dark-background;
}

.menu-item {
    -fx-font-size: 12;
}



.main-buttons {
    -fx-font-size: 20;
    -fx-background-color: -fx-button-color;
}

.main-buttons:hover {
    -fx-border-color: -fx-hover-color;
}


.small-main-buttons {
    -fx-font-size: 15;
    -fx-background-color: -fx-button-color;
}



.tagList {
    -fx-font-size: 22;
    -fx-max-width: 100000;
}

.tagList > .button {
    -fx-border-color: -fx-gray-2;
    -fx-background-color: -fx-button-color;
}

.tagList > .button:hover {
    -fx-border-color: -fx-hover-color;
}


.tagListSelected > .button {
    -fx-background-color: -fx-gray-2;
}


.itemList {
    -fx-font-size: 22;
    -fx-max-width: 100000;
}

.itemList > .button {
    -fx-border-color: -fx-gray-2;
    -fx-background-color: -fx-button-color;

}

.itemList > .button:hover {
    -fx-border-color: -fx-hover-color;
}

.itemListSelected > .button {
    -fx-background-color: -fx-gray-2;

}


