* {
    -fx-background: rgb(60, 63 ,65);
    -fx-text-fill: rgb(209, 209 ,209);
    -fx-opacity: 1;

}


root {
    -fx-font-family: "Lato";

}

.scroll-pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;

}

.label {
    -fx-font-family: "Lato";
    -fx-font-size: 18;

}

.big-label {
    -fx-font-size: 30;

}


.button {
    -fx-background-color: rgb(97, 97, 97);
    -fx-text-fill: rgb(209, 209 ,209);
    -fx-font-size: 17;

}


.tab-label {
    -fx-background-color: rgb(78, 80, 82);
    -fx-font-size: 15;

}

.tab-header-area .tab-header-background {
 	-fx-background-color: rgb(78, 80, 82);
}

.tab-pane .tab {
	-fx-background-color: rgb(78, 80, 82);
}

.text-field {
    -fx-font-size: 18;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: rgb(206, 206, 206);
    -fx-prompt-text-fill: rgb(102, 102, 102);
    -fx-text-fill: rgb(0, 0, 0);


}

.spinner .increment-arrow-button {
    -fx-padding: 1 2 1 2; /*caspian.css values are 4 8 4 8 */
}
.spinner .decrement-arrow-button {
    -fx-padding: 1 2 1 2; /*caspian.css values are 3 8 6 8 */
}


.spinner .increment-arrow-button .increment-arrow {
    -fx-padding: 2 3 2 3;    /*caspian.css values are 2 4 2 4 */
}
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-padding: 2 3 2 3; /*caspian.css values are 2 4 2 4 */
}





