@import url("colors.css");


* {
    -fx-background: -fx-dark-background;
    -fx-text-fill: -fx-default-text-color;
    -fx-opacity: 1;

}


root {
    -fx-font-family: "Lato";

}

.scroll-pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;

}

.label {
    -fx-font-family: "Lato";
    -fx-font-size: 18;

}

.big-label {
    -fx-font-size: 30;

}


.button {
    -fx-background-color: -fx-gray-2;
    -fx-text-fill: -fx-default-text-color;
    -fx-font-size: 17;

}


.tab-label {
    -fx-background-color: -fx-gray-1;
    -fx-font-size: 15;

}

.tab-header-area .tab-header-background {
 	-fx-background-color: -fx-gray-1;
}

.tab-pane .tab {
	-fx-background-color: -fx-gray-1;
}

.text-field {
    -fx-font-size: 18;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: -fx-gray-2;
    -fx-text-fill: -fx-default-text-color;

}

.spinner .increment-arrow-button {
    -fx-padding: 1 2 1 2; /*caspian.css values are 4 8 4 8 */
}
.spinner .decrement-arrow-button {
    -fx-padding: 1 2 1 2; /*caspian.css values are 3 8 6 8 */
}


.spinner .increment-arrow-button .increment-arrow {
    -fx-padding: 2 3 2 3;    /*caspian.css values are 2 4 2 4 */
}
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-padding: 2 3 2 3; /*caspian.css values are 2 4 2 4 */
}





